/* Datalife Engine template by: webrambo.ru, name: Megokino */

/* SET BASE
----------------------------------------------- */
* {background: transparent; margin: 0; padding: 0; outline: none; border: 0;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
table {border-collapse: collapse; border-spacing: 0;}
input, select {vertical-align: middle;}
article, aside, figure, figure img, hgroup, footer, header, nav, section, main {display: block;}
img {max-width: 100%;}
.clr {clear: both;}
.clearfix:after {content: ""; display: table; clear: both;}
.vw100, .sect-wide {margin:0 calc((100% - 100vw)/2); padding:0 calc((100vw - 100%)/2);}

@font-face {font-family: 'Source Sans Pro'; src: url('../fonts/source-sans-pro-300.woff2') format('woff2');
	font-weight: 300; font-style: normal; font-display: swap;}
@font-face {font-family: 'Source Sans Pro'; src: url('../fonts/source-sans-pro-400.woff2') format('woff2');
	font-weight: 400; font-style: normal; font-display: swap;}
@font-face {font-family: 'Source Sans Pro'; src: url('../fonts/source-sans-pro-600.woff2') format('woff2');
	font-weight: 600; font-style: normal; font-display: swap;}
@font-face {font-family: 'Source Sans Pro'; src: url('../fonts/source-sans-pro-700.woff2') format('woff2');
	font-weight: 700; font-style: normal; font-display: swap;}

body {font: 16px 'Source Sans Pro', sans-serif; line-height: normal; padding: 0; margin: 0;        
color: #000; background: #f5f5f5 url(../images/bg.png); 
min-height: 100%; width: 100%; font-weight: 400; overflow-x: hidden;}
a {color: #000; text-decoration: none;}
a:hover, a:focus {color: #e74c3c; text-decoration: none;}
h1, h2, h3, h4, h5 {font-weight: 700; font-size: 18px;}

button, textarea, input[type="text"], input[type="password"] {appearance: none; -webkit-appearance: none; 
	font-size: 14px; font-family: 'Source Sans Pro' !important;}

.button, .btn, .pagi-load a, .up-second li a, .usp-edit a, .qq-upload-button, button:not(.color-btn):not([class*=fr]), 
html input[type="button"], input[type="reset"], input[type="submit"], .meta-fav a, .usp-btn a {
display: inline-block; text-align: center; padding: 0 15px; height: 40px; line-height: 40px; 
border-radius: 0px; cursor: pointer; text-transform: uppercase;
color: #fff; background-color: #95a5a6; font-size: 16px; font-weight: 700;}
.button:hover, .btn:hover, .up-second li a:hover, .usp-edit a:hover, .qq-upload-button:hover, 
.pagi-load a:hover, .usp-btn a:hover,
button:not(.color-btn):hover, html input[type="button"]:hover, input[type="reset"]:hover, 
input[type="submit"]:hover, .meta-fav a:hover 
{background-color: #7f8c8d; color: #fff; box-shadow: 0 10px 20px 0 rgba(0,0,0,0);}
button:active, input[type="button"]:active, input[type="submit"]:active {box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);}

input[type="text"], input[type="password"] {display: block; width: 100%; height: 40px; line-height: 40px; padding: 0 15px;
background-color: #fff; color: #000;  border-radius: 4px; 
box-shadow: inset 0 0 0 1px #e8e8e8, inset 0 1px 3px rgba(0,0,0,0.3); border: 0;}
input[type="text"]:focus, input[type="password"]:focus {}
input::-webkit-input-placeholder {color: #222; opacity: 0.5;}
input::-moz-placeholder {color: #222; opacity: 0.5;}
input:-moz-placeholder {color: #222; opacity: 0.5;}
input:-ms-input-placeholder {color: #222; opacity: 0.5;} 
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder {color: transparent}
input:focus:-moz-placeholder {color: transparent}
input:focus:-ms-input-placeholder {color: transparent} 

select {height: 40px; border: 1px solid #e3e3e3; background-color: #fff; color: #000;}
textarea {display: block; width: 100%; padding: 15px; overflow: auto; vertical-align: top; resize: vertical;
background-color: #fff; color: #000; border: 0px solid #e3e3e3; border-radius: 4px; box-shadow: none; 
box-shadow: inset 0 0 0 1px #e8e8e8, inset 0 1px 3px rgba(0,0,0,0.3);}

.img-box, .img-wide, .img-square, .img-resp, .img-resp-vert, .img-resp-sq, .img-fit 
{overflow: hidden; position: relative; background-color: #222;}
.img-resp {padding-top: 57%;}
.img-resp-vert {padding-top: 140%;}
.img-resp-sq {padding-top: 100%;}
.img-box img, .img-square img, .img-resp img, .img-resp-vert img, .img-resp-sq img {width: 100%; min-height: 100%; display: block;}
.img-resp img, .img-resp-vert img, .img-resp-sq img {position: absolute; left: 0; top: 0;}
.img-wide img {width: 100%; display: block;}
.img-fit img {width: 100%; height: 100%; object-fit: cover;}
.nowrap {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.fx-row {display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;
-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
.fx-col {display:-ms-flexbox;display:-webkit-flex;display:flex; 
-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.fx-center {-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.fx-middle {-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.fx-start {-webkit-justify-content:flex-start;justify-content:flex-start;}
.fx-first {-ms-flex-order: -1;-webkit-order: -1;order: -1;}
.fx-last {-ms-flex-order: 10;-webkit-order: 10;order: 10;}
.fx-1 {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; 
	max-width: 100%; min-width: 50px;}

b, strong, h1, h2, h3, h4, h5, .fw700 {font-weight: 700;}
.icon-left .fa {margin-right: 10px;}
.icon-right .fa {margin-left: 10px;}
.hidden {display: none;}
.th-mask, .mscroll, .th-rate-in, a, .owl-prev, .owl-next, .owl-dot, .btn-search, .filter-btn, 
.filter-btn:before, .login-btns, .login-btns:before, button, .btn, input[type="button"], 
.sr-plus1, .sr-minus1, .button, .top2-cat, .tabs-sel span 
 {transition: color .3s, background-color .3s, opacity .3s;}
.trstn-all, .hmenu > li > a, .share a, .th-img, .hmenu > li > a:after {transition: all .3s;} 
.slide-title, .slide-desc, .slide-btn {transition: all 1s;}
#dofullsearch {display: none;}
.mtitle, .sub-title h1, .form-wrap h1 {margin-bottom: 30px; font-size: 24px; font-weight: 400;}


/* BASIC GRID
----------------------------------------------- */
.wrap {min-width:320px; position: relative;}
.wrap-center {max-width:1000px; margin:0 auto; position:relative; z-index:20; 
width:  calc(100% - 30px);}
.wrap-center1 {max-width:1200px; margin:0 auto; position:relative; z-index:20; 
width:  calc(100% - 30px);}
.header {height: 60px; background-color: #fff; box-shadow: 0 0 30px rgba(0,0,0,0.1); 
position: sticky; top: 0; left: 0; width: 100%; z-index: 200; transition: transform .2s;}
.header.sticky {transform: translateY(-130%);}
.content {padding: 30px 0; min-height: 80vh;}
.footer {background-color: #444; color: #ccc; padding: 30px 0 15px 0;}
.filter-line {margin-top: -30px; margin-bottom: 30px; background-color: #fff; box-shadow: 0 0 30px rgba(0,0,0,0.1);}
.movie-page {background-color: #fff; box-shadow: 0 0 30px rgba(0,0,0,0.1); 
	padding: 30px; margin: -30px 0 30px 0;}

#gotop{position:fixed; width:50px; height:50px; line-height:46px; right:10px; bottom:10px; cursor:pointer; font-size:20px;
z-index:9998; display:none; opacity:1; background-color:#fff; color:#222; 
border-radius:50%; text-align:center; box-shadow: 0 1px 4px rgba(0,0,0,0.2);}
.share-box {height: 40px; line-height: 40px;}
.share {width:216px; height:40px; display: inline-block; vertical-align: top; margin-left: 10px;}
.share a {display:block; width:38px; height:38px; border-radius:50%; float:left; margin-right:5px;
box-shadow:5px 5px 16px 0 rgba(0,0,0,0.1); background:url(../images/share.png) -2px 0 no-repeat;}
.share a:last-child {margin:0;}
.share a:nth-child(2) {background-position:-46px 0;}
.share a:nth-child(3) {background-position:-88px 0;}
.share a:nth-child(4) {background-position:-132px 0;}
.share a:nth-child(6) {background-position:-175px 0;}
.share a:nth-child(5) {background-position:-218px 0;}
.share a:hover {transform:rotate(20deg);}


/* HEADER, TOPLINE
----------------------------------------------- */
.search-wrap {position: absolute; right: 0; top: 0; left: 260px; height: 60px; 
background-color: #e74c3c; padding: 10px; z-index: 100; display: none;}
.search-box {width:100%; position:relative;}
.search-box input, .search-box input:focus {width:100%; padding:0 30px 0 15px; 
	background-color:#fff; color: #000; border-radius: 0px; 
box-shadow: inset 0 0 0 1px #e3e3e3;}
.search-box button {position:absolute; right:0; top:0; z-index:10; width: 40px;
background: transparent !important; color: #000 !important; padding: 0 !important;}
.focused {position: fixed; left: 0; bottom: -100%; width: 100%; height: 100%; z-index: 30; 
	background-color: rgba(0,0,0,0.7);}
.search-wrap.shown {display: block;}

.logo {display:block; width:240px; height:60px;}
.btn-search, .btn-menu {width: 60px; height: 60px; line-height: 60px; text-align: center; cursor: pointer; 
background-color: #95a5a6; color: #fff; font-size: 18px;}
.btn-search:hover {background-color: #7f8c8d;}
.login-btns {position: relative; height: 60px; background-color: #e74c3c; color: #fff; padding-left: 15px;}
.login-btns:before {content: ''; background-color: #e74c3c; width: 1000px; height: 100%; 
position: absolute; left: 100%; top: 0;}
.btn-login {text-transform: uppercase; font-weight: 700; margin-left: 10px; cursor: pointer;}
.login-btns.js-login:hover, .login-btns.js-login:hover:before {background-color: #c0392b; cursor: pointer;}

.login {height: 40px; line-height: 40px; margin-top: 10px;}
.logged {margin-left: -15px;}
.logged > li {position: relative; border-right: 1px solid rgba(0,0,0,0.2); height: 60px;}
.logged > li > a {display: block; width: 60px; height: 60px; line-height: 60px; text-align: center; color: #fff;}
.logged > li > a:hover, .logged > li.is-active {background-color: #c0392b;}
.logged > li > a .fa {font-size: 24px; height: 60px; line-height: 60px;}
.login-av {width: 40px; height: 40px; border-radius: 50%; position: relative; top: 10px; left: 10px;}
.login-count {min-width: 20px; height: 20px; line-height: 20px; text-align: center; 
border-radius: 10px; background-color: #fff; color: #000; font-size: 10px; 
position: absolute; top: 10px; right: 6px; padding: 0 3px;}
.login-box2 {position: absolute; left: 0; top: 100%; z-index: 9999;
background-color: #fff; color: #000; box-shadow: 0 20px 20px rgba(0,0,0,0.2); width: 244px; display: none;}
.login-box2:after {content:""; position: absolute; bottom: 100%; left: 20px; margin-left: 0px; 
border: 10px solid transparent; border-bottom: 10px solid #f6f6f6;}
.login-box2 a {color: #000;}
.lb-user2 {padding: 15px; background-color: #f6f6f6;}
.lb-user2 a {opacity: 0.6; font-size: 14px;}
.lb-ava2 {width: 40px; height: 40px; border-radius: 50%; margin-right: 15px;}
.lb-menu2 a {display: block; padding: 10px 15px; border-top: 1px solid #e3e3e3; font-size: 14px;}
.lb-menu2 .fa {width: 28px; opacity: 0.5;}
.lb-menu2 a:hover {background-color: #95a5a6; color: #fff;}

.hmenu {font-size: 0;}
.hmenu > li {display: inline-block; vertical-align: top; margin-left: 30px;}
.hmenu > li > a {display: block; height: 60px; line-height: 60px; position: relative; 
	font-weight: 700; font-size: 16px; text-transform: uppercase;}
.hmenu > li > a:not(.to-home) .fa {margin-right: 15px;}
.hmenu > li > a.to-home {width: 60px; height: 60px; line-height: 60px; border-radius: 0%; 
	text-align: center; font-size: 18px; background-color: #025e7e; 
display: block; color: #fff;}
.hmenu > li:last-child > a {border-right: 0; box-shadow: none;}
.hmenu > li > a:hover, .menuactive > a {box-shadow: inset 0 2px #e74c3c; color: #e74c3c;}
.hmenu > li > a:after {content:""; position: absolute; bottom: 100%; left: 50%; margin-left: -10px; 
border: 10px solid transparent; border-bottom: 10px solid #e74c3c; opacity: 0;}
.hmenu > li.menuactive > a:after {opacity: 1; bottom: 0;}
.hidden-menu {position: absolute; left: 100px; top: 200%; z-index: 9999; transition: top .3s;
background-color: #fff; box-shadow: 0 20px 20px rgba(0,0,0,0.2); display: none; 
width: calc(100% - 200px); font-size: 16px; border-top: 3px solid #e74c3c; pointer-events: none;}
.menuactive .hidden-menu {top: 100%; pointer-events: auto;}
.hidden-col {width: 33.33%;}
.hidden-sect {background-color: #edf2f9; padding: 20px; padding-bottom: 5px;}
ul.hidden-col {border-left: 1px solid #e3e3e3; padding: 20px 0;}
ul.hidden-col a {display: block; padding: 7px 20px;}
ul.hidden-col a:hover {background-color: #edf2f9;}
.hidden-sect-title {font-size: 14px; color: #939393; margin-bottom: 5px;}
.hidden-sect-links {line-height: 1.7; margin-bottom: 10px;}
.hidden-sect-links a {margin-right: 15px;}


/* LOGIN
----------------------------------------------- */
.login-box {background-color:#fff; padding:20px; display:none;}
.lb-user {margin:-20px -20px 20px -20px; padding:20px; background-color:#f5f9fc;  
display:flex; flex-flow:row wrap; justify-content:center; align-items:center;}
.lb-ava {width:80px; height:80px; border-radius:50%; margin-right:20px;}
.lb-name div {font-size:18px;}
.lb-name a {margin-top:10px;}
.lb-menu a {display:block; line-height:30px; padding:0 10px; background-color:#f5f9fc;}
.lb-menu a:hover, .lb-menu a:hover .fa {background-color:#e74c3c; color:#fff;}
.lb-menu a .fa {color:#95a5a6; width: 30px;}
.login-box input[type="text"], .login-box input[type="password"], .login-box button, .lb-check 
{display:block; margin-bottom:20px; width:100%;}
.lb-check input {display:none;}
.lb-check input + label:before {width:14px; height:14px; margin-right:7px; cursor:pointer; position:relative; top:3px;
border-radius:3px; border:1px solid #e3e3e3; content:""; background-color:#f5f9fc; display:inline-block;}
.lb-check input:checked + label:before {background-color:#e5050b;}
.lb-soc {margin:20px -20px -20px -20px; padding:20px; background-color:#f5f9fc; text-align:center;}
.lb-soc a {display:inline-block; margin:10px 3px 0 3px; vertical-align:top;}
.lb-soc img {display:block; width:30px;}


/* SLIDER
----------------------------------------------- */
.slide {height: 400px; position: relative;}
.slide:before {position:absolute; left:0; bottom:0; width:100%; height: 100%; content: '';
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); z-index: 10;}
.slide-in {height: 100%;}
.slide-text {width:70%; color: #fff;}
.slide-title {line-height:34px; padding:10px 10px 0 10px; margin-bottom: 20px; 
	position: relative; left: -80px; opacity: 0;}
.slide-title span {color:#fff; font-size:28px; outline:#f39c12 solid 5px; background-color:#f39c12;}
.slide-desc {line-height: 1.7; margin-bottom: 20px; padding-left: 10px; position: relative; right: -80px; opacity: 0;}
.slider {height: 400px; background-color: #111;}
.slide-btn {position: relative; left: -80px; opacity: 0;}
.active .slide-title, .active .slide-btn {opacity: 1; left: 0;}
.active .slide-desc {opacity: 1; right: 0;}


/* SECTION
----------------------------------------------- */
.sect + .sect {margin-top: 0px;}
.sect-header {margin-bottom: 30px;}
.sect-title {font-size: 38px; font-weight: 400;}
.sect-items {margin: 0 -15px;}
.sect-slide-items {height: 348px;}
.sect-slide-items2 {height: 240px;}
.sect-slide-items .owl-stage-outer{padding: 1px;}
.sect-link:hover {text-decoration: underline;}
.sect-wide {background-color: #fff; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 30px; padding-top: 30px;}
.sect-popular {margin-top: -30px; background-color: #444;}
.sect-popular .sect-title {font-size: 28px; color: #fff;}
.sect-popular .th-img {border: 5px solid #333; box-shadow: 0 0 0 1px #222;}
.sect-popular .th-title {color: #fff;}
.sect-col-1 {width: 30%; margin-bottom: 30px;}
.sect-col-2 {width: 66%; margin-bottom: 30px;}

.lcomm + .lcomm {margin-top: 15px;}
.ltitle {display: block; color: #e74c3c;}
.ltext {line-height: 1.5;}
.lmeta {font-size: 14px; margin: 5px 0;}
.ldate, .lav, .lname {display: inline-block; vertical-align: middle; margin-right: 7px;}
.lav {width: 20px; height: 20px; border-radius: 50%;}
.scroller {position:relative; max-height:350px; overflow:hidden;}
.scroller::-webkit-scrollbar { /* Prevents webkit cross-direction scrolling bug */ width: 0; box-shadow:none; border:0;}
.scroller::-webkit-scrollbar-track {box-shadow:none; border:0;}
.scroller__bar {position: absolute; right: 0; z-index: 1; top:0; width:10px; background: #f39c12; 
border-radius:0px; opacity:1;}
.scroller:hover .scroller__bar {opacity:1;}
.scroller-in > div:not(.scroller__bar) {padding-right: 15px;}

.sect-top2 {margin-bottom: -30px; padding-bottom: 50px; box-shadow: 0 -30px 30px -30px rgba(0,0,0,0.1);}
.top2-big-poster {width: 350px; margin-right: 60px;}
.top2-items {border-top: 1px solid #e3e3e3;}
.top2-item {height: 100px; border-bottom: 1px solid #e3e3e3;}
.top2-title {font-size: 24px; margin-bottom: 5px;}
.top2-cat {color: #a6a6a6;}
.top2-item .mrates {padding: 0; border: 0; margin: 0;}
.top2-img {display: none;}
.top2-item:hover .top2-cat, .top2-item.current .top2-cat, .top2-item.current {color: #e74c3c;}
.top2-big-poster-in {width: 100%; height: 500px; box-shadow: 0 48px 75px -10px rgba(0,0,0,.35); 
opacity: 0; top: 50px; display: block; transition: all .5s;}
.top2-big-poster-in.is-active {opacity: 1; top: 0;}
.top2-big-poster-in:hover {opacity: 0.8 !important; transform: scale(1.03,1.03);}
.sect-header .tabs-sel {margin: 0; border: 0; padding: 0;}
.sect-header .tabs-sel span {font-size: 14px; font-weight: 600; height: 36px; line-height: 36px; margin: 0 0 0 30px;}
.top2-big-poster22 {perspective: 1000px; perspective-origin: top center;}
.top2-big-poster-in22 {transform: translateZ(40px); position: relative;
  transform-style: preserve-3d; will-change: transform; transform: rotateY(0deg) rotateX(0deg) translateZ(10px);}


/* THUMB
----------------------------------------------- */
.thumb {width:20%; float:left; padding:0 15px; position:relative; text-align: center;}
.sect-slide-items .thumb {width: 175px; padding: 0; float: none;}
.sect-slide-items2 .thumb {width: 227px;}
.th-img {display:block; border: 5px solid #fff; box-shadow: 0 0 0 1px #d5e0e7;}
.th-desc {height:90px; padding-top:10px;}
.th-title {display:block; max-height:40px; line-height: 20px; overflow:hidden; color: #000; font-weight: 600;}
.th-country {font-size: 14px; color: #939393; margin-top: 5px;}
.th-mask {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; padding:10px; 
background-color:rgba(0,0,0,0.5); opacity:0; z-index:5;}
.with-mask:hover .th-mask {opacity:1;}
.th-in .th-img:hover {box-shadow: 0 0 0 1px #e74c3c;}
.th-mask .fa {width:60px; height:60px; border-radius:50%; text-align:center; line-height:60px; 
padding-left:5px; font-size:34px; color: #fff;}
.th-meta {display: inline-block; position: absolute; height: 30px; line-height: 30px; padding: 0 10px;}
.th-qual {left: 0; bottom: 0; font-size: 14px; color: #fff; background-color: #f39c12;}
.th-info-btn {cursor: help; right: 0; top: 0; z-index: 10; font-size: 10px;
	background-color: #7f8c8d; color: #fff; width: 30px; padding: 0;}
.th-info-btn .fa {width: 20px; height: 20px; line-height: 20px; 
border-radius: 50%; box-shadow: inset 0 0 0 1px #fff;}
.th-rate {left: 0; top: 0px; background-color: #7f8c8d; color: #fff; z-index: 40; 
width: 70px; height: 30px; line-height: 30px; text-align: center; font-weight: 600;}
.th-rate-in {opacity: 0; position: absolute; left: 0; top: 0; bottom: 0; padding: 0 15px; 
background-color: #fff; color: #000; min-width: 70px; white-space: nowrap;}
.th-rate:hover .th-rate-in {opacity: 1;}
.sr-plus, .sr-minus {display: inline;}
.sr-minus {margin-left: 10px;}
.sr-plus .fa {color: #83bf45; margin-right: 5px;}
.sr-minus .fa {color: #ee3442; margin-right: 5px;}
.th-rate.high {background-color: #75c71b;}
.th-rate.low {background-color: #ff293d;}

.th-active {z-index:100;}
.th-text {display:none; background-color:#fff; color:#000; cursor:auto; 
	padding:15px; text-align:left; padding-bottom: 0;
position:absolute; z-index: 1000; left:100%; top:0; width:460px; 
box-shadow:0 0 20px 0 rgba(0,0,0,0.2); border-radius:4px; min-height: 100px;}
.th-text:after {content:""; border:10px solid #fff; border-left-color:transparent; border-bottom-color:transparent; 
position:absolute; top:30px; right:100%;}
.pop-left .th-text:after {border:10px solid #fff; border-right-color:transparent; border-bottom-color:transparent; 
left:100%; right:auto;}
.pop-left .th-text {left:auto; right:100%;}
.th-text > .fa {font-size:50px; color:#CCC; display:block; text-align:center;}

.th-text .mtext {background-color: #fff; margin: 15px -15px -15px -15px; padding: 15px; 
max-height: 180px; overflow: hidden; position: relative; font-size: 14px;}
.th-text .mtext:before {content:'';position:absolute;z-index:1;bottom:0px;left:0;right:0;height:120px;pointer-events:none;
background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);}
.th-text .remove-from-ajax, #trailer-box, .th-text .mfavs {display: none;}
.tbtns {margin: 0 -15px; border-radius: 0 0 4px 4px; overflow: hidden;}
.tbtn {display: block;}
.th-text .mh-right {margin: 15px 0;}
.th-text .mrates {border-left: 1px solid #e3e3e3;}
.th-text .sr-plus1:hover, .th-text .sr-minus1:hover {color: #939393; cursor: default;}


/* SEO DESCRIPTION
----------------------------------------------- */
.site-desc {line-height:1.5; padding: 30px 0; color: #5c5c5c;
	background-color: #fff; box-shadow: 0 0 30px rgba(0,0,0,0.1);}
.site-desc h1, .site-desc h2, .site-desc h3 {font-size:28px; font-weight: 400; margin: 30px 0; color: #000;}
.site-desc p + p {margin-top:10px;}
.site-desc a {text-decoration: underline; color: #1abc9c;}


/* FOOTER
----------------------------------------------- */
.footer-cols {margin-bottom: 30px;}
.ft-col {width:15%; line-height:26px;}
.ft-text {width: 60%;}
.ft-text-in {line-height: 1.5;}
.ft-title {font-weight:700; text-transform: uppercase; margin-bottom:15px; color: #fff;}
.ft-col li:before {content:"\f105"; margin-right:7px; font-family:'FontAwesome';}
.ft-col li {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.ft-col a {color: #e3e3e3;}
.ft-col a:hover {color: #fff; text-decoration: underline;}
.footer-btm {border-top: 1px solid #000; padding-top: 15px; padding-left: 210px; 
background: url(../images/logo1.png) 0 12px / 180px auto no-repeat;}
.ft-desc {padding-right: 30px;}
.ft-copyr a {color: #fff; text-decoration: underline;}
.ft-copyr {font-size: 14px; margin-top: 10px;}
.ft-menu a.active {display:inline-block; padding:5px 5px; color:#fff; background-color:#00adef; text-decoration: none;}
.ft-soc {height:40px text-align:center; white-space:nowrap; margin-bottom: -2px;}
.ft-soc .fa {width:30px; height:30px; border-radius:50%; text-align:center; line-height:30px; 
background-color:#C70003; color:#fff; font-size:14px; margin-right:5px; cursor:pointer; vertical-align: top;}
.fft-soc .fa:hover {opacity:0.8;}
.fa.fa-vk {background-color:#5075a5;}
.fa.fa-facebook {background-color:#4b6baf;}
.fa.fa-twitter {background-color:#2daae1;}
.fa.fa-odnoklassniki, .fa.fa-rss {background-color:#FC6D00;}


/* BOTTOM NAVIGATION
----------------------------------------------- */
.pagi-load {text-align:center; padding-bottom: 30px;}
.pagi-load > span {display:none;}
.pagi-load > a {display: inline-block; background-color: #95a5a6; color: #fff;
height: 60px; line-height: 60px; padding: 0 30px 0 30px; border-radius: 0px;}
.pagi-load a .fa {height: 30px; line-height: 30px; width: 30px; text-align: center; border-radius: 15px; 
box-shadow: inset 0 0 0 1px #fff; vertical-align: top; margin: 15px 15px 0 0;}
.bottom-nav {line-height:60px; text-align:center; font-size:24px; padding-top: 30px;}
.pagi-nav {padding: 0 15px;}
.pagi-nav > span {display:inline-block;}
.pprev, .pnext {padding: 0 30px; background-color: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.05); font-size: 20px;}
.navigation {text-align:center; margin: 0 15px;}
.navigation a, .navigation span {display:inline-block; margin: 0 5px; background-color: #fff; 
min-width: 60px; padding: 0 5px; box-shadow: 0 0 20px rgba(0,0,0,0.05);}
.navigation span:not(.nav_ext) {background-color:#e64c3c; color:#fff;}
.dle-comments-navigation .pagi-nav {margin-bottom:0; padding-bottom:20px;}
.pagi-nav .fa {color: #a8a8a8; font-size: 20px;}


/* FULL
----------------------------------------------- */
.mtop {background-color: #111; position: relative; margin-top: -30px; color: #fff;}
.mtop-in {position: relative; z-index: 10;}
.mtop-bg {position: absolute; background-color: #111; top: 0;	bottom: 0; left: 0; right: 0;}
.mtop h1 {font-size: 38px; font-weight: 400;}
.mtop h1 .fa {color: #ccc; margin-left: 10px; font-size: 18px;}
.mh-left {padding: 15px 0;}
.moriginal-title {color: #939393; margin-top: 5px; font-size: 18px;}
.mrates {margin-left: 30px; padding-left: 15px; border-left: 1px solid #666; font-weight: 300;}
.mrate-kp, .mrate-imdb {text-align: center; margin-left: 15px; white-space: nowrap; 
width: 40px; height: 55px; font-size: 24px;}
.mrate-kp {background: url(../images/kp.png) center bottom no-repeat;}
.mrate-imdb {background: url(../images/imdb.png) center bottom no-repeat;}
.rate3-short {text-align: center;}
.sr-plus1, .sr-minus1 {width: 35px; margin-left: 15px; color: #939393; font-size: 12px;}
.sr-plus1 .fa, .sr-minus1 .fa {font-size: 28px; display: block; height: 40px;}
.r3-hide {display: none;}
.sr-plus1:hover, .sr-minus1:hover {color: #fff; cursor: pointer;}
.mrels {padding-top: 30px;}

.next-link {width: 40px; height: 100px; line-height: 100px; text-align: center; font-size: 70px; 
color: #fff; position: absolute; z-index: 20; bottom: 210px; display: block;}
.next-link {right: -70px;}
.prev-link {left: -70px;}
.next-link:hover {background-color:#e74c3c !important; color:#fff !important;}

.msticky {position: sticky; top: 75px; left: 0;}
.mcols {margin-bottom: 20px;}
.mleft {width: 260px; margin-right: 30px; text-align: center;}
.mimg {margin-bottom: 30px;}
.mfavs {margin-left: 15px; display: block; padding: 0; width: 100px; font-size: 12px; font-weight: 400; 
height: 90px; line-height: normal; padding: 10px; text-transform: none; margin-right: -30px;}
.mfavs .fa {display: block; margin-bottom: 10px; font-size: 28px;}
.mfavs a {display: block; color: #fff !important;}
.muserrates {margin-top: 30px;}
.mscroll {position: absolute; left: 0; top: 0; right: 0; bottom: 0; text-align: center; font-size: 38px;
background-color: rgba(0,0,0,0.8); color: #fff; cursor: pointer; opacity: 0;}
.btn-scroll div {text-transform: uppercase; font-weight: 700; margin-top: 5px; font-size: 16px;}
.mimg:hover .mscroll {opacity: 1;}

.tabs-sel span {display:inline-block; cursor:pointer; text-transform: uppercase; margin-right: 30px;
font-weight: 700; color: #939393; height: 60px; line-height: 60px; cursor: pointer;}
.tabs-sel span.current {color: #000; box-shadow: inset 0 -3px #e74c3c;}
.tabs-sel span:hover {color: #e74c3c;}
.tabs-sel {border-bottom: 1px solid #e3e3e3; margin: 0 -30px 30px -30px; padding: 0 30px; 
	white-space: nowrap; overflow-y: hidden; overflow-x: auto;}
.tabs-sel b {font-weight: 400; margin-left: 5px;}
.tabs-b {display:none;}
.tabs-b.visible {display:block;}
.mtop-2 .tabs-sel {border: 0; margin: 0; padding: 0;}
.mtop-2 .tabs-sel span {color: #fff; height: 80px; line-height: 80px;}
.mtop-2 .tabs-sel span.current {color: #fff; box-shadow: inset 0 -3px #e74c3c;}
.mtop-2 .mh-left {padding: 0;}

.minfo-cats {margin-bottom: 10px; font-weight: 600; font-size: 18px;}
.minfo-meta {margin-bottom: 15px;}
.myear {font-size: 12px; margin-right: 7px; padding: 3px 5px; border: 1px solid #e3e3e3;}
.mtime {color: #a6a6a6; font-size: 18px; margin-left: 30px;}
.minfo {line-height: 1.7; margin-bottom: 5px;}
.minfo > span {margin-right: 5px; color: #939393;}
.minfo a {color: #e74c3c;}
.minfo a:hover {text-decoration: underline;}
.mtext {border-top: 1px solid #e3e3e3; padding-top: 20px; margin-top: 15px;}
.slice {overflow:hidden; position:relative; transition:height .2s;}
.slice-masked:before {content:'';position:absolute;z-index:1;bottom:0px;left:0;right:0;height:120px;pointer-events:none;
background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);}
.slice-btn {margin:15px 0 0 0;}
.slice-btn span {display:inline-block; cursor:pointer; color: #e74c3c; text-decoration: underline;}

.sect-trl {margin: 0 -30px; padding: 25px 30px 0 30px; border-top: 1px solid #e3e3e3;}
.trl-box {width: 400px; margin-right: 30px;}
.scr-box {margin-bottom: -30px;}
.scr-box > * {width: 47%; height: 110px; margin-bottom: 30px; display: block; overflow: hidden; position: relative;}
.scr-box a img {width: 100%; height: 100%; object-fit: cover;}
.scr-box br {display: none !important;}

.sect-actors {padding-bottom: 15px;}
.actor-item {width: 25%; float: left; padding: 0 15px; margin-bottom: 15px;}
.actor-img {width: 60px; height: 60px; margin-right: 15px;}
.actor-cast {color: #939393; margin-top: 7px;}



/* FULL STORY STATIC
----------------------------------------------- */
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame 
{width: 100%; max-width:100% !important; height:450px; display:block; margin:0 auto;}
.trl-box embed, .trl-box object, .trl-box video, .trl-box iframe, .trl-box frame 
{height:250px;}
.mejs-container {max-width:100% !important;}
.full-text {line-height:1.7;}
.full-text img:not(.emoji) {max-width:100%; margin:10px auto;}
.full-text > img[style*="left"], .full-text > .highslide img[style*="left"] {margin:0 10px 10px 0;}
.full-text > img[style*="right"], .full-text > .highslide img[style*="right"] {margin:0 0 10px 10px;}
.full-text a {text-decoration:underline; color:#e74c3c;}
.full-text a:hover {text-decoration:none;}
.full-text h2, .full-text h3, .full-text h4, .full-text h5 {margin:10px 0; font-size:18px; font-weight:700;}
.full-text p {margin-bottom:10px;}
.full-text > ul, .full-text > ol {margin:10px 0;}
.full-text > ul li {list-style:disc; margin-left:40px; position:relative;}
.full-text > ol li {list-style:decimal; margin-left:40px;}

.full-text table {width:100%; text-align:left; margin:10px 0;}
.full-text table tr td {padding:10px; border:2px solid #fff;}
.full-text table tr:nth-child(2n+1) {background-color:#f5f5f5;} 
.full-text table tr:nth-child(1) {background-color:#598597 !important; color:#FFF; font-size:14px !important;}
.full-text table img {display:block; margin:0; border:0; max-width:350px}
.attach {line-height:40px; background-color:#f5f5f5; padding:0 15px 0 0; border-radius:4px; margin:10px 0; overflow:hidden;}
.attach .download-link {color:#FFF !important; text-decoration:none !important; margin-right:15px; float:left; 
display:inline-block; padding:0 15px;}
.attach-info {float:right;}
.attach i {margin-right:5px;}
.dcont {border:1px solid #e3e3e3; padding:0 15px 15px 15px; margin:0 0 20px 0; line-height:20px;}
.polltitle {display:block; padding:10px 15px; margin:0 -15px 15px -15px; font-size:18px; line-height:normal; 
color:#FFF; font-weight:700;}
.full-taglist a {color:#598597;}
.full-taglist {margin-bottom:20px;}
.full-taglist span:not(.fa):not(:last-child):after {content:","; display:inline;}




/* COMMENTS
----------------------------------------------- */
.full-comms {max-width: 700px; margin: 0 auto;}
.comms-title {line-height:40px;}
.add-comm-form {background-color: #444; color: #fff; padding: 30px; margin-bottom: 30px;}
.ac-soc {position:absolute; right:30px; top:17px;}
.ac-soc:before {content:attr(data-label); display:inline-block; vertical-align:top; line-height:30px; margin-right:5px;}
.ac-soc a {display:inline-block; margin:0 0 0 3px; vertical-align:top;}
.ac-soc img {display:block; width:30px; height: 30px; border-radius: 15px;}
.ac-inputs, .ac-textarea {margin-bottom:15px;}
.comments_subscribe input {margin-right: 10px;}

.ac-av {width:40px; height:40px; border-radius:50%; float:left; margin-right:10px;
background:#fff url(../dleimages/noavatar.png) no-repeat; background-size:contain;}
.ac-title {font-weight:700; margin-bottom:15px; text-transform:uppercase;}
.ac-inputs input {width:49%;}
.ac-textarea textarea {height:85px;}
.ac-submit {}
.sec-answer + .sec-label {margin-top:10px;}
.ac-protect {margin-top:-10px; display:none;}
.ac-protect .label {font-size:12px;}
.ac-protect .sep-input {padding:10px 10px 10px 160px;}
.ac-protect input {}

.mass_comments_action {text-align:right; padding:5px 15px; background-color:#e3e3e3; margin:20px 0 0 0; display: none;}
.last-comm-link {font-size:16px; margin-bottom:10px;}
.last-comm-link a {text-decoration:underline; color:#e74c3c;}
.full-comms {}
#dle-comments-list {margin-top: 15px;}

.comm-item {padding: 15px; padding-left:70px; margin-bottom:15px; border: 1px solid #e3e3e3;}
.comm-left {width:40px; height:40px; margin-left:-55px; float:left; border-radius:50%;}
.comm-right {width:100%; float:right; position:relative;}
.comm-right22:after {right: 100%; top:10px; border: solid transparent; content: " "; height: 0; width: 0;
position: absolute; border-color: rgba(255, 255, 255, 0); border-right-color: #f5f9fc; border-width: 10px;}

.comm-one {padding:0 80px 5px 0; position:relative; font-size:14px; color: #939393;}
.comm-one > span:nth-child(4) {float:right; margin-right:0;}
.comm-one > span {float:left; margin-right:20px;}
.comm-author {font-weight:700; color: #e74c3c;}
.comm-author a {color: #e74c3c;}
.rate3-comm {position:absolute; right:0; top:0; white-space:nowrap; font-size:16px;}
.rate3-comm a {cursor:pointer; height:20px; line-height:20px; display:inline-block; font-size:14px;
color:#6cc43c; margin:0 5px 0 0; vertical-align:top}
.rate3-comm a:last-child {color:#f1656f; margin:0 0 0 5px;}
.rate3-comm a:hover {opacity:0.5;}
.rate3-comm > span {height:20px; line-height:20px; display:inline-block; font-size:11px; font-weight:700; vertical-align:top;}
.rate3-comm > span > span.ratingtypeplus {color: #06b601;}
.rate3-comm > span > span.ratingplus {color: #95c613;}
.rate3-comm > span > span.ratingminus {color: #ff0e0e;}
.comm-two {}
.signature {font:italic 12px Georgia, "Times New Roman", Times, serif; margin-top:10px; padding-top:10px; 
border-top:1px dashed #000;}
.comm-three {margin-top:10px; font-size:14px; text-align:right;}
.comm-three li {display:inline-block; margin-left:10px; line-height: 20px;}
.comm-three a {display: inline-block; vertical-align: middle; color: #939393; 
	border: 1px solid transparent; line-height: 18px; height: 20px;}
.comm-three li:first-child {margin-left:0px; float:left;}
.comm-three li:first-child + li {float:left;}
.comm-three li:first-child a {border: 1px solid #e3e3e3; padding: 0 5px; border-radius: 3px; text-decoration: none;}
.comm-three a:hover {color: #000; text-decoration: underline;}



/* Owl Carousel v2.1.0 */
.owl-carousel {display: none; width: 100%; -webkit-tap-highlight-color: transparent; 
	position: relative; z-index: 1; transition: opacity 1s;}
.owl-carousel .owl-stage {position: relative; -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer {position: relative; overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-item {position: relative; min-height: 1px; float: left;
/* -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; */}
.owl-carousel .owl-item > img {display: block; width: 100%; /* -webkit-transform-style: preserve-3d; */}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {display: none; }
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;
-ms-user-select: none; user-select: none; }
.owl-carousel.owl-loaded {display: block; }
.owl-carousel.owl-loading {opacity: 0; display: block; }
.owl-carousel.owl-hidden {opacity: 0; }
.owl-carousel.owl-refresh .owl-item {display: none; }
.owl-carousel.owl-drag .owl-item {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-grab {cursor: move; cursor: grab; }
.owl-carousel.owl-rtl {direction: rtl; }
.owl-carousel.owl-rtl .owl-item {float: right; }
.no-js .owl-carousel {display: block; }
.owl-carousel .animated {-webkit-animation-duration: 1000ms; animation-duration: 1000ms; 
-webkit-animation-fill-mode: both; animation-fill-mode: both; }
.owl-carousel .owl-animated-in {z-index: 0; }
.owl-carousel .owl-animated-out {z-index: 1; }
.owl-carousel .fadeOut {-webkit-animation-name: fadeOut; animation-name: fadeOut; }
@-webkit-keyframes fadeOut {0% {opacity: 1; } 100% {opacity: 0; } }
@keyframes fadeOut {0% {opacity: 1; } 100% {opacity: 0; } }
.owl-height {transition: height 500ms ease-in-out; }
.owl-carousel .owl-item .owl-lazy {opacity: 0; transition: opacity 400ms ease; }
.owl-carousel .owl-item img.owl-lazy {-webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
.owl-carousel .owl-video-wrapper {position: relative; height: 100%; background: #000; }
.owl-carousel .owl-video-play-icon {position: absolute; height: 80px; width: 80px; left: 50%; top: 50%;
margin-left: -40px; margin-top: -40px; cursor: pointer; z-index: 1; background-color:#FFF;
-webkit-backface-visibility: hidden; transition: -webkit-transform 100ms ease; transition: transform 100ms ease; }
.owl-carousel .owl-video-play-icon:hover {-webkit-transform: scale(1.3, 1.3); -ms-transform: scale(1.3, 1.3); transform: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {display: none; }
.owl-carousel .owl-video-tn {opacity: 0; height: 100%;
background-position: center center; background-repeat: no-repeat; background-size: contain; transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {position: relative; z-index: 1; height: 100%; width: 100%; }

.owl-nav {position:absolute; left:0; right:0; top:50%; margin-top: -20px;}
.owl-prev, .owl-next {width:40px; height:40px; position:absolute; top:0; z-index:200;
text-align:center; line-height:40px; font-size:18px; border-radius: 50%; 
background-color: #fff; box-shadow: 0 0 30px rgba(0,0,0,0.1);}
.owl-prev {left:30px;}
.owl-next {right:30px;}
.owl-prev:hover, .owl-next:hover {background-color:#e74c3c !important; color:#fff !important;}
.owl-dots {text-align:center; position: absolute; left: 15px; bottom: 15px; right: 15px;}
.owl-dot {display:inline-block; vertical-align:top; width:10px; height:10px; margin:0 5px; 
border-radius:50%; background-color:#fff;}
.owl-dot.active {background-color:#e74c3c;}

.sect-slide-items .owl-nav {margin-top: -65px;}
.sect-slide-items .owl-prev {left:-70px;}
.sect-slide-items .owl-next {right:-70px;}

.slider .owl-nav {margin-top: -55px;}
.sect-popular .owl-nav {margin-top: -95px;}
.slider .owl-prev, .slider .owl-next, .sect-popular .owl-prev, .sect-popular .owl-next 
{height: 100px; line-height: 100px; font-size: 70px; border-radius: 0; 
background-color: transparent; color: #fff;}



/* ADAPTIVE
----------------------------------------------- */
.btn-menu, .btn-filt {display:none;}
.side-panel {width:280px; height:100%; overflow-x:hidden; overflow-y:auto; background-color:#fff;
padding:10px 0; z-index:888; position:fixed; left:-320px; top:0; transition:left .4s; -webkit-transition:left .4s;}
.side-panel.active {left:0;}
.close-overlay {width:100%; height:100%; background-color:rgba(0,0,0,0.5); 
position:fixed; left:0; top:0; z-index:887; display:none;}
.btn-close {cursor:pointer; display:block; left: 280px; top: -40px; position: fixed; z-index: 888;
width:40px; height:40px; line-height:40px; text-align:center; font-size:18px; 
background-color: #e84e36; color: #fff; transition:top .4s; -webkit-transition:top .4s;}
.btn-close.active {top:0px;}
body.opened-menu {overflow: hidden; width: 100%; height: 100%;}

.side-panel > li > a {display:block; padding:10px 15px; font-size:16px;
color:#222; border-bottom:1px solid #e3e3e3;}
body.opened-menu {overflow: hidden; width: 100%; height: 100%;}
.side-panel .hidden-menu {display: block; position: static; background-color: #edf2f9; width: 100%;}
.side-panel .hidden-col {width: 50%; font-size: 16px;}
.side-panel .hidden-sect {padding: 15px; padding-bottom: 5px; width: 100%;}
.side-panel ul.hidden-col {border-top: 1px solid #e3e3e3; padding: 15px 0; border-left: 0;}
.side-panel ul.hidden-col a {padding: 5px 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}


@media screen and (max-width: 1220px) {
.wrap-center {max-width:1000px;}
#gotop {display: none !important;}
.hmenu, .th-info-btn {display: none;}
.btn-menu {background-color: #e74c3c; display: block; margin-right: 15px; margin-left: -15px;}
.logo {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; 
	max-width: 100%; min-width: 50px; overflow: hidden;}
.slide-text {width:100%; padding: 0 70px;}
.sect-slide-items {padding-left: 60px; padding-right: 60px;}
.sect-slide-items .owl-prev {left:-60px;}
.sect-slide-items .owl-next {right:-60px;}
.sect-title {font-size: 28px;}
.search-wrap {left: 0;}
.sect-items {margin: 0 -7px;}
.thumb, .actor-item {padding-left: 7px; padding-right: 7px;}
.focused, .close-overlay {cursor: pointer;}

.next-link {display: none;}
.mtop h1 {font-size: 28px;}
}

@media screen and (max-width: 950px) {
.wrap-center {max-width:768px;}
.navigation {width: 100%; margin: 0 0 15px 0;}
.pprev {-ms-flex-order: 10;-webkit-order: 10;order: 10; margin-right: 7px;}
.pnext {-ms-flex-order: 11;-webkit-order: 11;order: 11; margin-left: 7px;}
.navigation a, .navigation span {margin-top: 10px;}
.top2-big-poster {margin-right: 15px;}

.movie-page {padding-left: 15px; padding-right: 15px;}
.tabs-sel, .mtop, .sect-trl {margin-right: -15px; margin-left: -15px;}
.sect-trl, .tabs-sel {padding-left: 15px; padding-right: 15px;}
.mtop {padding-bottom: 15px;}
.tabs-sel > span {margin-right: 15px;}
}

@media screen and (max-width: 760px) {
.wrap-center {max-width:640px;}
.login-btns {width: 60px; padding: 0; text-align: center; margin-right: -15px;}
.btn-login {font-size: 0;}
.btn-login .fa {display: block; margin: 0; height: 40px; line-height: 40px; font-size: 18px;}
.logged > li:not(:first-child) {display: none;}
.logged > li, .btn-login {margin: 0;}
.logged {margin-left: 0;}
.login-box2 {text-align: left; left: auto; right: 0;}
.login-box2:after {left: auto; right: 20px;}
.thumb {width: 33.33%;}
.slider, .share-box, .filter-btn:before, .login-btns:before {display: none;}
.filter-line {display: block;}
.filter-btn {width: auto; display: block !important; margin-left: -15px; margin-right: -15px; 
	background-color: #444 !important; text-align: center;}
.ft-col {width: 100%; margin-bottom: 20px; text-align: center;}
.footer-btm {display: block;text-align: center; padding: 15px; background-image: none;}
.ft-desc {padding: 0; margin-bottom: 15px;}
.ft-title {display: block;}
.ft-soc {margin-top: 15px;}
.sect-popular + .filter-line .filter-btn {background-color: #e74c3c !important;}
.sect-popular .sect-title {font-size: 18px;}
.sect-col-1, .sect-col-2 {width: 100%;}
.top2-big-poster {display: none;}
.top2-img {display: block; width: 60px; height: 90px; margin-right: 15px;}
.top2-item {height: auto; padding: 15px 0;}
.top2-title {font-size: 18px;}

.mcols {display: block;}
.mleft {margin: 0 auto 15px auto;}
.actor-item {width: 50%;}
.trl-box {width: 100%; margin: 0 0 30px 0;}

.comm-three22 li:not(:first-child) {display:none;}
.dcont button {font-size:12px; padding:0 15px !important;}
.ac-protect {margin-top:0px;}
.comments-tree-list .comments-tree-list {padding-left:0px !important;}
.comments-tree-list .comments-tree-list:before {display:none;}
.mass_comments_action {display:none;}
.sub-title h1 {font-size:18px; line-height:24px;}
}

@media screen and (max-width: 590px) {
.wrap-center {max-width:480px;}
.mheader {text-align: center; justify-content: center;}
.mh-left {min-width: 100%; order: 10;}
.mh-right {margin: 15px 0 0 -15px; display: none;}
.mtop-2 .mh-right {display: flex;}
.tabs-sel {white-space: normal; display: flex; flex-wrap: wrap;}
.tabs-sel span {flex: 1 1 0; min-width: auto; max-width: 100%; margin: 0; 
	text-align: center; font-size: 14px; font-weight: 600;}

.comm-one {overflow: hidden; height: 20px; line-height: 20px; margin-bottom: 5px;}
.comm-three {height: 22px; overflow: hidden;}
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {height:300px;}

.ac-soc {position:static;}
.ac-inputs input {width:100%; margin-top:10px;}
.ac-protect {width:100%; float:none; margin:0;}
.ui-dialog {width:100% !important;}
.upop-left, .upop-right {float:none !important; width:100% !important; margin:0; padding:0 20px;}
.upop-left {margin-bottom:10px; text-align:center;}
.ui-dialog-buttonset button {display:block; margin:0 0 5px 0; width:100%;}
#dofullsearch, #searchsuggestions span.seperator {display:none !important;}
.attach .download-link {margin:0 -15px 0 0; float:none; display:block; padding:0 10px;}
.attach-info {float:none;}
}

@media screen and (max-width: 470px) {
.wrap-center22 {max-width:360px;}
.logo {margin-right: 15px; padding-top: 12px; position: relative;}
.logo img {position: absolute; left: 0; top: 50%; transform: translateY(-50%); max-width: 100%;}
.thumb {width: 50%;}
.sect-header {display: block; text-align: center;}
.sect-link {display: inline-block; margin-top: 15px;}
.sect-slide-items .thumb {width: 130px;}
.sect-slide-items2 .thumb {width: 195px;}
.sect-slide-items {height: 290px;}
.sect-slide-items2 {height: 210px;}
.top2-item .mrates > * {margin-left: 5px;}
.sect-header .tabs-sel span {margin: 10px 30px 0 0;}

.mpage {margin-left: -15px; margin-right: -15px;}
.mrels {padding-left: 15px; padding-right: 15px;}
.mfavs {display: none;}
.actor-item {width: 50%;}
.actor-img {width: 40px; height: 40px; margin-right: 10px;}
.actor-cast {margin-top: 3px; font-size: 14px;}
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {height:250px;}
}

